body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #1a2775;
	--color-primary-light: #6b86d3;
	--color-primary-lighter: #95ace5;
	--color-primary-lightest: #d5def8;
	--color-gray: #9a9999;
	--color-white: #ffffff;
  --color-primary-text: black;
}
